.project-card {
    color: black;
    background-color: 'red';
    border: 1px solid rgb(46, 31, 10)   ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 3px;
    &:hover {
        background-color: rgb(213, 213, 213);
        color: black;
    }
}

.project-text {
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(224, 163, 66);
    &:hover {
        color: black;
    }
}